h1{
    background-color: red;
}

#texto1{
    color: blue;
}

.subtitulos{
    text-decoration: overline;
}
.gato{
    width: 100px;
    border: 2px solid black;
}

.ampliar{
    width: 200px;
    border: 5px dotted salmon;
}