body{
    background-color: pink;
}
.img1{
    width: 200px;
}
.img2{
    width: 300px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 2px 2px 3px grey;
}
section{
    display: flex;
    width: 600px;
    background-color: blue;
    gap:20px;
}
section>img{
    width: 200px;
}
/*
padding - margin -border

*/