@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background-color: #86A3B8;
}
h1{
    color: #f5e7cb;
    font-size: 40px;
}
button{
    background-color: #F55050;
    color: #E8D2A6;
    padding: 5px;
    width: 80px;
    border: 2px solid #d64747;
    font-size: 20px;
}
button:active{
    background-color: #d64747;
}